# Chung
.DS_Store
.vscode/
*.log

# Unity Client (trong thư mục Client/)
Client/Library/
Client/Temp/
Client/Obj/
Client/Build/
Client/Builds/
Client/Logs/
Client/UserSettings/
Client/*.pidb
Client/*.svd
Client/*.userprefs
Client/*.csproj
Client/*.sln
Client/*.user
Client/*.meta
Client/*.pidb.meta
Client/*.pdb.meta
Client/*.mdb.meta
Client/sysinfo.txt
Client/*.apk
Client/*.aab
Client/*.unitypackage
Client/*.app
Client/crashlytics-build.properties
Client/Assets/AddressableAssetsData/*/*.bin*
Client/Assets/StreamingAssets/aa.meta
Client/Assets/StreamingAssets/aa/*

# C# Console (ở thư mục gốc)
bin/
obj/
*.user
*.suo
*.csproj.user
*.vs/

# Web API (trong thư mục Server/)
Server/bin/
Server/obj/
Server/*.user
Server/*.suo
Server/*.csproj.user
Server/*.vs/
Server/node_modules/
Server/package-lock.json